.home_component{
    font-family:sans-serif;
    color: #414141;


// jumplady section
.jumpLady_sec {
    display:flex;
    justify-content: space-evenly;
    height: auto;
    align-items: flex-end;
    background-color: rgb(238, 247, 252);
    font-family: sans-serif;
    padding-bottom: 80px;
}

.capisco_fp,
.hero_fp,
.luna_fp,
.jarvis_fp,
.tictoc_fp,
.regen_fp {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;

    .fp_pics {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }   

    .fp_pics:hover .randomSent{
        display: block;
    }

    .fp_pics:hover .randomSent2 {
        display: block;
    }
    
    .randomSent{
        display: none;
        text-align: center;
        width: 85px;
        margin-bottom: 15px
    }

    .randomSent2 {
        display: none;
        text-align: center;
        width: 100px;
        margin-bottom: 15px
    }
    
    img{
        height: auto;
        width: 90%;
        margin-top: 5px;
        margin-bottom: 8px;
    }

    .arrow {
        height: auto;
        width: 12px;
    }

    // .arrow:hover{
    //     background-image: url("../../imgages/frontpage/subtract.png");
    //     height: 14px;
    //     width: 18px;
    //     // background-size: cover;
    // }

}

.hero_fp {
    img{
        margin-bottom: -5px;
    }
}

.midSent{
    background-color: rgb(238, 247, 252);
    display: flex;
    justify-content: center;
    color: #6E6C63;
    font-size: 26px;
    padding-top: 15px;
    padding-bottom: 50px;
    font-family: sans-serif;
}

.home_sec1{
    display:flex;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-right: 20px;
    
    .home1_img{
        height: auto;
        // width: 85%;
        width: 480px;
        margin-top: -15px;
    }

    .home2_img {
        height: auto;
        // width: 89%;
        width: 380px;
        margin-top: 70px;
        margin-left: -5%;

    }

    .home_sec_sent{
        text-align:center;
        width: 300px;
        // margin-right: 130px;
        margin-right: 5%;
        margin-top: 10%;
        
        
        p{
            font-family: sans-serif;
            margin-bottom: 35px;
            font-size: 16px;
            // width: 50%;
            min-width:100px;
        }

        .shopDesks{
            outline: 2.5px solid rgba(4, 4, 179, 0.877);
            color: rgba(4, 4, 179, 0.877);
            max-width: 140px;
            text-align: center;
            padding: 7px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 35px;
            padding-right: 35px;
            margin-top: 25px;

        }

        .shopDesks:hover {
            background-color: rgba(4, 4, 179, 0.877);
            color: white;
        }

    }

}

.homeSpacing{
    margin-top: 150px;
    margin-bottom: 150px;
}

.home_sec2 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
    margin-right: 20px;

    .home3_img {
        height: auto;
        // width: 85%;
        width: 850px;
        margin-top: -20px;
    }

    .home_sec2_sent {
        text-align: center;
        width: 300px;
        // margin-right: 130px;
        margin-right: 5%;
        margin-top: 10%;


        p {
            font-family: sans-serif;
            margin-bottom: 35px;
            font-size: 16px;
            // width: 50%;
            min-width: 100px;
        }

        .shopExplore {
            outline: 2.5px solid rgba(4, 4, 179, 0.877);
            color: rgba(4, 4, 179, 0.877);
            max-width: 140px;
            text-align: center;
            padding: 7px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 35px;
            padding-right: 35px;
            margin-top: 25px;

        }

        .shopExplore:hover {
            background-color: rgba(4, 4, 179, 0.877);
            color: white;
        }

    }

    }   



.home_sec3 {
    display: flex;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: rgb(255, 253, 240);

    .home4_img {
        height: auto;
        // width: 85%;
        width: 510px;
        margin-top: -20px;
    }

    .home5_img {
        height: auto;
        // width: 89%;
        width: 380px;
        margin-top: 70px;
        margin-left: -18%;

    }

    .home_sec3_sent {
        text-align: center;
        width: 300px;
        // margin-right: 130px;
        margin-right: 5%;
        margin-top: 10%;

        background-color: rgb(255, 253, 240);

        p {
            font-family: sans-serif;
            margin-bottom: 35px;
            font-size: 16px;
            // width: 50%;
            min-width: 100px;
        }

        .shopWFH {
            outline: 2.5px solid rgba(4, 4, 179, 0.877);
            color: rgba(4, 4, 179, 0.877);
            max-width: 140px;
            text-align: center;
            padding: 7px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 35px;
            padding-right: 35px;
            margin-top: 25px;

        }

        .shopWFH:hover {
            background-color: rgba(4, 4, 179, 0.877);
            color: white;
        }

        .icnHome_contain{
            display:flex;
            justify-content: center;
            .icnhome_img{
                height: auto;
                width: 50px;
                margin-bottom: 10px;
            }

        }

    }

}



}