
.product_show_page{
    font-family: sans-serif;
    color: #414141;

    .product_directory{
        display: flex;
        justify-content:center;
        margin-top:40px;
        margin-bottom:50px;
        font-size: 14px;
        
        span{
            margin-left: 10px;
            margin-right: 10px;
        }

        .productName{
            color: #6E6C63;
        }

    }

    .product_directory span:first-child:hover {
        text-decoration: underline;
    }
    
    .main_content{
        display: flex;
        justify-content:column;
        margin-left: 32px;
        margin-right: 32px;

        .content_arrangement {
            display:flex;
            justify-content:center;
    
            .title {
                font-size: 26px;
            }
        }
    
    
        .show_img{
            height: auto;
            width: 500px;
        }
    
        .content_info{
            margin-left: 60px;
            max-width: 38%;
    
            .addToCart{
                    font-size: 16px;
                    color: #414141;
                    background-color: rgb(255, 220, 61);
                    // outline: 3px solid rgb(255, 220, 61);
                    max-width: 100px;
                    text-align: center;
                    margin-top: 30px;
                    margin-bottom: 10px;
                    padding: 10px;
                    padding-left: 25px;
                    padding-right: 25px;

                    //random css ripple
                    background-position: center;
                    transition: background .4s;
            }
    
            // .addToCart:hover {
            //     background-color: rgb(248, 207, 24);
            //     outline: 3px solid rgb(248, 207, 24);
            // }
            
            /* Ripple effect */

            .addToCart:hover {
                background: rgb(248, 205, 11) radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
            }

            .addToCart:active {
                background-color: #6eb9f7;
                background-size: 100%;
                transition: background 0s;
            }

      
            
            


            .product_description{
                margin-top: 40px;
                font-size:15px;
            }

            .starts_at{
                color: #6e6c63;
                font-size: 12px;
            }

            .shopbox{
                margin-top: 80px;
                display:flex;
                // flex-direction: column;
                // justify-content: center;
                // align-content: center;
                background-color: #EEF7FC;
                color: #414141;

                img{
                    height: 35px;
                    width: 35px;
                    padding: 20px;
                }

                .shopbox_info{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size:12px;
                    
                    h1{
                        font-weight: bold;    
                        margin-bottom: 10px;
                    }
                }
                
                .showBox_container{
                    display:flex;
                    align-content: center;
                }

                .test{
                    display:flex;
                }
            }
            
            .productQty{
                font-size: 12px;
                outline: 1px solid lightgray;
                color: #6e6c6e;;
                margin-top: 25px;
                margin-right: 10px;
                padding: 10px;
            }


            .quantityInput{
                font-size:14px;
                width: 40px;
                margin-left: 10px;
                color: #414141;
            }




            .pro_review_sec{
                display:flex;
                align-items: center;
                // justify-content: center;
                margin-top: 7px;
            }
            .pro_review_sec div{
                margin-right: 1px;
            }

            .star {
                color: gold;

                .gold:before {
                    content: "\2605";
                    color: gold;
                    position: absolute
                }
            }
            

        }
    
    }

    .shipping{
        border-left: 2px solid #6E6C63;
        padding-left: 10px;
        margin-top: 20px;
        font-size: 12px;
        color: #414141;
        width: 100px;
    }
    
    .option_accessory{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        // border-bottom: 1px solid #b4b4b4;
        // margin-bottom: 50px;
        padding-bottom: 8px;
        font-size: 14px;

        input{
            margin-left: 10px;
            margin-right: 10px;
        }
        
    }
    
    .option_accessory1:hover,
    .option_accessory2:hover{
        text-decoration: underline;
    }


    .otherContainer{
        border-top: 1px solid #b4b4b4;
        padding-top: 80px;

        display: flex;
        margin-left:125px;
        margin-right:125px;
        justify-content:center;


        h2{
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        p{
            width: 90%;
        }

        img{
            margin-left: 10px;
            height: auto;
            width: 500px;
        }

    }

    .other2Container {
        display: flex;
        margin-left: 125px;
        margin-right: 125px;
        margin-top: 40px;
        justify-content: center;


        h2 {
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        p {
            width: 90%;
        }

        img {
            height: auto;
            width: 400px;
            margin-right: 20px;
        }

    }

    .other3Container {
        display: flex;
        margin-left: 125px;
        margin-right: 125px;
        margin-top: 40px;
        justify-content: center;


        h2 {
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        p {
            margin-top: 30px;
            width: 90%;
        }

        img {
            height: auto;
            width: 400px;
            margin-right: 20px;
        }

        ul{
            list-style-type: circle;
            margin-left: 40px;

        }

    }

    .other4Container {
        display: flex;
        margin-left: 125px;
        margin-right: 125px;
        margin-top: 50px;
        justify-content: center;


        h2 {
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        p {
            margin-top: 30px;
            width: 90%;
        }

        img {
            height: auto;
            width: 400px;
            margin-right: 20px;
        }

        ul {
            list-style-type: circle;
            margin-left: 40px;
        }

        h3{
            font-size: 14px;
        }

    }


}
.reviewContainer {
    padding-top: 40px;
    margin-top: 100px;
    // display: flex;
    margin-left: 125px;
    margin-right: 125px;
    // justify-content: center;
    padding-left: 30px;
    padding-bottom: 50px;
    background-color: #EEF7FC;
    width: 580px;

    .reviewHeader {
        display: flex;

        width: 550px;
        justify-content: space-between;
        border-bottom: 1px solid rgb(147, 215, 255);
        padding-bottom: 24px;


        .avgReview{
            display: flex;
            align-items: center;

            .star{
                color: gold;
                .gold:before {
                    content: "\2605";
                    color: gold;
                    position:absolute
                }
            }
        }
        .reviewLength{
            font-size: 16px;
        }
    }

    .star_container{
        display:flex;
        align-items: center;

        .avgNum{
            font-size: 28px;
            margin-right: 10px;

        }
    }

    .writeReview {
        outline: 2.5px solid rgba(4, 4, 179, 0.877);
        color: rgba(4, 4, 179, 0.877);
        max-width: 140px;
        text-align: center;
        padding: 7px;
        padding-top: 10px;
        padding-left: 18px;
        padding-right: 18px;
        padding-bottom: 10px;
        // margin-left: 300px;

    }

    .writeReview:hover {
        background-color: rgba(4, 4, 179, 0.877);
        color: white;
    }


    .reviews_container{
        margin-top: 40px;
        padding-bottom: 30px;


        .review_individual_list{
            // background-color: orange;
            list-style-type: none;
            padding-top: 10px;
            padding-bottom: 10px;

            .gold:before {
                content: "\2605";
                color: gold;
                position: absolute;
                font-size: 14px;
            }
            .star {
                color: gold;
                font-size: 14px;
            }
            .review_indiv_name{
                color: rgba(4, 4, 179, 0.877);
                font-size: 17px;
            }

            .review_indiv_score{
                margin-bottom: 30px;
            }

            .review_indiv_review{
                padding-bottom: 40px;
                border-bottom: 1px solid lightgray;
            }

            .review-update-delete{
                display: flex;
                justify-content: space-between;

                .indv_update{
                    margin-right: 10px;
                }

                .indv_delete{
                    margin-right: 35px;
                    // color: red;
                }
            }
        }
    }
    .update_Form{
        display:flex;
        flex-direction: column;

        .update_text_area{
            // background-color: yellow;
            font-size: 14px;
            outline: 1px solid lightgray;
            color:#414141;
            margin-top: 25px;
            padding: 12px;
            height: 50px;
            max-width: 510px;
            margin-bottom: 20px;
        }

        .score_update{
            max-width: 100px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .name_update_area{
            font-size: 14px;
            outline: 1px solid lightgray;
            color: #414141;
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 12px;
        }

        .edit_button_options {
            display: flex;
            // align-items: center;

            .saveButtonUpdate {
                font-size: 16px;
                color: #0C649E;
                // background-color: #0C649E;
                // outline: 3px solid rgb(255, 220, 61);
                max-width: 100px;
                text-align: center;
                margin-bottom: 30px;
                padding: 3px;
                padding-right: 5px;
                // padding-left: 25px;
                // padding-right: 25px;
                display: flex;
                align-items: center;
            }

            .saveButtonUpdate:hover {
                // background-color: #0b4e7a;
                cursor: pointer;

            }

        
            .cancelButtonUpdate{
                font-size: 14px;
                margin-left: 40px;
                margin-top: 5px;
            }
        }
        
    }
    
}
