

.review_instruction {
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 37px;
}

.score_radio{
    display: flex;
    // flex-direction: column;
    // background-color: yellow;
    margin-bottom: 10px;
}

.asterisk_review {
    font-size: 17px;
    color: rgb(255, 98, 59);
    align-content: row;
    margin-right: 3px;

}

.required_field{
    margin-bottom: 30px;
    display:flex; 

}


    // #r1, #r2, #r3, #r4, #r5 {
    //     display:none;
    // }
   

 .star_list {
     unicode-bidi: bidi-override;
     direction: ltr;
     text-align: center;
     color: gold;
     display: flex;
     flex-direction: row-reverse;
     justify-content: flex-end;

 }

 .star_list>span {
     display: inline-block;
     position: relative;
     width: 1.1em;
 }

 .star_list>span:hover,
 .star_list>span:hover~span {
     color: transparent;
 }

 .star_list>span:hover:before,
 .star_list>span:hover~span:before {
     content: "\2605";
     position: absolute;
     left: 0;
     color: gold;
 }

 .goldSelectHold:before{
     content: "\2605";
     position: absolute;
     left:0;
     color: gold;

 }

 .review_input_contain{
     display: flex;
     flex-direction: column;

     .review_title{
         margin-top: 20px;

         display:flex;
     }

     .review_text_area{
         font-size: 14px;
         outline: 1px solid lightgray;
         color:#414141;
         margin-top: 25px;
         padding: 12px;
         height: 80px;
         max-width: 510px;
         margin-bottom: 20px;
     }

     .name_input_area{
        font-size: 14px;
        outline: 1px solid lightgray;
        color: #414141;
        margin-top: 25px;
        padding: 12px;
        // height: 100px;

     }

     .name_and_post{
         display: flex;
         flex-direction: column;
         justify-content: flex-end;

        .review_name_title{
            display:flex;
        }

         .review_and_title{
             display: flex;
         }

         .postButton{
            font-size: 16px;
            color: white;
            background-color: #0C649E;
            // outline: 3px solid rgb(255, 220, 61);
            max-width: 100px;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 10px;
            padding-left: 25px;
            padding-right: 25px;
         }

         .postButton:hover {
             background-color: #0b4e7a;
            
         }
     }


 }
