/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.info {
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    background-color: rgb(240, 240, 240);
    padding: 5px;

}

.cart{
    display: flex;
}

.cart button{
    margin-left: 25px;
}

.github{
    display: flex;
}

.github span{
    margin-left: 10px;
    margin-right: 10px;

}

.github img{
    height: 20px;
    width: 20px;
}


.signin{
    font-size: 13px;
    margin-right: 20px;
    position: relative;
    bottom: 6px;
    
}

.infoSignin {
  font-size: 14px;
  position: relative;
  top: 4px;
}

.info_spacing{
    margin-left: 230px;
    margin-right: 230px;
}

.header-link{
    color: rgb(255, 217, 0);
    font-size: 36px;
    font-weight: bolder;
}

header {
    display: flex;
    justify-content: space-between;
    /* justify-content: space-evenly; *//*! might need above with search and nav */
    padding: 30px;
    background-color: rgb(233, 245, 250);
    border-bottom: 3px solid rgb(240, 240, 240);

}

.header-group{
    background-color: pink;
}



/*! user login section */
.login_signup {
    /* display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: lightgray; */
}

.login_title{
    font-size: 26px;
    margin-left: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    display:flex;
    justify-content:space-between;
}

.login_form_container{
    display: flex;
    justify-content: space-evenly;
    
}

.sub_title {
    /* border-bottom: 2px solid lightgray; */
    font-size: 19px;
}

.login_form_container hr {
    display: block;
    border-top: 1px solid lightgray;
    top: 4px;
    margin: 1em 0;

}


.left_login{
    display: flex;
    flex-direction: column;
}

.right_login {
    display: flex;
    flex-direction: column;
    margin-right: 150px;

}

.spacer_login {
    margin-left: -15px;
    margin-right: -15px;
}


.login_form_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    padding-right: 100px;


}



.login_form_box input{
    outline: 2px solid black;
    border: 1px solid black;
    
}

.userOption{

    display: flex;
    flex-direction: column;
    justify-content:space-between;

    max-width: 450px;
    bottom: 50px;

}

.demoButton{
    font-size:16px;
    color: black;
    background-color: rgb(255, 220, 61);
    outline: 3px solid rgb(255, 220, 61);
    max-width: 100px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;

}

.createButton{
    outline: 2.5px solid rgb(4, 4, 179);
    color: rgb(4, 4, 179);
    max-width: 130px;
    text-align: center;
    padding: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.signinButton{
    outline: 3px solid rgb(255, 220, 61);
    color: black;
    max-width: 130px;
    text-align: center;
    padding: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color:rgb(255, 220, 61);
}

.requried_field{
    font-size: 12px;
    color: rgb(255, 98, 59);
    margin-top: -5px;
}

