/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.info {
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    background-color: rgb(240, 240, 240);
    padding: 5px;

}

.cart{
    display: flex;
}

.cart button{
    margin-left: 25px;
}

.github{
    display: flex;
}

.github span{
    margin-left: 10px;
    margin-right: 10px;

}

.github img{
    height: 20px;
    width: 20px;
}


.signin{
    font-size: 13px;
    margin-right: 20px;
    position: relative;
    bottom: 6px;
    
}

.infoSignin {
  font-size: 14px;
  position: relative;
  top: 4px;
}

.info_spacing{
    margin-left: 230px;
    margin-right: 230px;
}

.header-link{
    color: rgb(255, 217, 0);
    font-size: 36px;
    font-weight: bolder;
}

header {
    display: flex;
    justify-content: space-between;
    /* justify-content: space-evenly; *//*! might need above with search and nav */
    padding: 30px;
    background-color: rgb(233, 245, 250);
    border-bottom: 2px solid rgb(240, 240, 240);

}

.header-group{
    background-color: pink;
}



/*! user signup/login section */
.login_section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: lightgray;

}

.login_form_container{
    outline: 1px solid black;
}


.login_form_box{
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}






