.footer_info {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 80px;
}

.footer_linkedin,
.footer_email,
.footer_github,
.footer_repository {
    display: flex;
}

.footer_icon_spacing {
    margin-left: 8px;
    height: 30px;
    width: 30px;
}

#email_foot {
    height: 32px;
    width: 32px;

}